.main-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #242120;
    align-items: center;
    padding: 5px 30px;
    overflow: scroll;
}

.nav-liink {
    color: white;
    margin: 0 35px 0 0;
    text-transform: capitalize;
    text-decoration: none;
}

.sign-in {
    border-left: 2px solid white;
    padding: 0 0 0 25px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo-image {
    display: block;
    width: 70px;
    margin: 0 35px 0 0;
}

footer.main-footer {
    padding: 20px 70px;
}

.footer-app-image {
    width: 140px;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-text {
    text-align: center;
    margin: 20px 0 0 0;
}

.social-icon {
    margin: 0 40px 0 0;
}

.footer-logo-image {
    width: 100px;
    display: block;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: white;
    margin: 10px 0 0 0;
}

@media (max-width: 768px) {
    .footer-links {
        display: block;
        padding: 20px 0;
    }

    .footer-header {
        margin: 40px 0 8px 0;
    }

    .footer-socials {
        display: block;
    }

    .footer-apps {
        margin: 30px 0;
        text-align: center;
    }
}
